/* class styles */
.container {
    background-color: bisque;
    margin: 50px;
}

.input-box {
    background-color: yellow;
    width: 5px;
    height: 5px;
    float: left;
}

/* id styles */
#input-area {
    width: 600px;
    height: 600px;
    background-color: blue;
}

#start-btn {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
    margin-bottom: 5px;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
}